# Everything not specified is joint
* @osfanmuffin/muffinhunt-devs

# pack.png is made by muffin, and so is assets folder
/pack.png @M3FF1N

/assets/ @M3FF1N

# Data folder is made by osfan
/data/ @osfanbuff63
