name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Welcome to the repository! Make sure to read the README.md specifically the Contributing section, before continuing, if you have not already!'
        pr-message: 'Welcome to the repository! Make sure to read the README.md, specifically the Contributing section, before continuing, if you have not already! And thanks for helping out with a PR! It is very helpful sometimes :)'
