name: Publish release
on: 
  push:
    tags-ignore:
     - 'v*-beta*'
  workflow_dispatch:
jobs:
   upload-normal:
    name: Create non-optimized datapack
    runs-on: ubuntu-latest
    steps:
     - name: Clone repository
       uses: actions/checkout@v3
       with:
         fetch-depth: 0
     - name: Check commands
       uses: mcbeet/check-commands@v1.0.6
       with:
          source: .
          minecraft: 1.18
     - name: Check JSON
       uses: ocular-d/json-linter@0.0.2
     - name: Upload artifact
       uses: actions/upload-artifact@v3
       with:
         path: |
             data/
             pack.mcmeta
             pack.png
         name: muffinhunt-datapack v1.7.0
   upload-optimized-datapack:
    name: Optimize datapack
    runs-on: ubuntu-latest
    needs: upload-normal
    steps:
     - name: Download normal pack
       uses: actions/download-artifact@v3
       with:
         name: muffinhunt-datapack v1.7.0
         path: ./
     - name: Run PackSquash
       uses: ComunidadAylas/PackSquash-action@master
       with:
          path: ./
          token: ${{ secrets.GITHUB_TOKEN }}
          minify_json_files: true
          validate_pack_metadata_file: true
          allow_optifine_mod: true
          delete_bloat_json_keys: true
          artifact_name: 'optimized-muffinhunt-datapack v1.7.0'
   fetch-muffinhunt-resourcepack:
    name: Fetch latest MuffinHunt resource pack changes
    runs-on: ubuntu-latest
    steps:
     - name: Clone muffinhunt resource pack
       uses: actions/checkout@v3
       with: 
        repository: osfanmuffin/muffinhunt-resource-pack
        fetch-depth: 0
     - name: Check JSON
       uses: ocular-d/json-linter@0.0.2
     - name: Upload artifact
       uses: actions/upload-artifact@v3
       with:
         path: |
             data/
             pack.mcmeta
             pack.png
         name: muffinhunt-resourcepack v1.0.0
   optimize-muffinhunt-resourcepack:
    name: Fetch and optimize MuffinHunt resourcepack
    runs-on: ubuntu-latest
    needs: fetch-muffinhunt-resourcepack
    steps:
     - name: Download regular pack
       uses: actions/download-artifact@v3
       with:
         name: muffinhunt-resourcepack v1.0.0
     - name: Run PackSquash
       uses: ComunidadAylas/PackSquash-action@master
       with:
          token: ${{ secrets.GITHUB_TOKEN }}
          minify_json_files: true
          validate_pack_metadata_file: true
          allow_optifine_mod: true
          delete_bloat_json_keys: true
          artifact_name: 'optimized-muffinhunt-resourcepack v1.0.0'

   create-release:
     name: Create release
     needs: [fetch-muffinhunt-resourcepack,upload-normal,optimize-muffinhunt-resourcepack,upload-optimized-datapack]
     runs-on: ubuntu-latest
     steps:
       - name: Checkout repo
         uses: actions/checkout@v3
       - name: Generate release changelog
         uses: heinrichreimer/github-changelog-generator-action@v2.3
         with:
           token: ${{ secrets.GITHUB_TOKEN }}
           dateFormat: '%m/%d/%Y'
       - name: Download normal pack
         uses: actions/download-artifact@v3
         with:
           name: muffinhunt-datapack v1.7.0
       - name: Download optimized pack
         uses: actions/download-artifact@v3
         with:
           name: optimized-muffinhunt-datapack v1.7.0
       - name: Download normal resourcepack
         uses: actions/download-artifact@v3
         with:
           name: muffinhunt-resourcepack v1.0.0
       - name: Download optimized resourcepack
         uses: actions/download-artifact@v3
         with:
           name: optimized-muffinhunt-resourcepack v1.0.0
       - name: Release
         uses: softprops/action-gh-release@v1
         with:
           files: |
               muffinhunt-datapack v1.7.0.zip
               optimized-muffinhunt-datapack v1.7.0.zip
               muffinhunt-resourcepack v1.0.0.zip
               optimized-muffinhunt-resourcepack v1.0.0.zip
           body_path: CHANGELOG.md
       - name: Commit changes
         run: |
            git config user.name "actions-user"
            git config user.email "action@github.com"
            git add CHANGELOG.md
            git commit -m "Updated CHANGELOG.md for ${{ github.ref }}"
            git push origin HEAD:master
            